*{
    margin: 0;
    padding: 0;
}
.cortainer-menu{
    background-color: #6666ff;
    /* display: inline; */
    width: auto;
    height: 65px;
    padding: 10px;
    text-align: right;
    box-sizing: border-box;
    
}

button{
    border-radius: 25px;
    background: none;
    color: #ccc;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    border: solid #ccc;
}