/* geral */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
/* barra de navegação */

.container-nav{
    width: 100%;
    height: 80px;
    background-color:  #232a31;
    position: relative;
    padding: 0 2rem;
}
.container-nav img{
    width: 50px;
    margin-top: 10px;
}

.nav-items{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    gap: 20px;
}

.nav-items a{
    color: #fff;
}
.btn-nav{
    padding: 15px 20px;
    background-color:  #2cc76a;
    margin-right: 15px;
    border-radius: 5px;
    transition: 1s;
    opacity: 0.7;
}
.btn-nav:hover{
    opacity: 1;
}

/* banner */

.container-banner{
    background-image: url("/HOST/img/mainbanner.png");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.container-banner h1 , .container-banner p{
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: #000 5px 3px 5px;
}
.container-banner h1{
    font-size: 45px;
}

.container-banner p{
    font-size: 30px;
    
}
/* serviços */
.container-services{
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    /* flex: 1; */
}

.servi{
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.servi i{
    font-size: 80px;
    margin-bottom: 10px;
}

.servi h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.servi p {
    text-align: center;
    padding: 5px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-rocket{
    color: #ff0000;
}
.fa-comments{
    color: #d9ff00;
}
/* planos */
.container-plan{
    padding: 4rem 2rem;
}
.plan-text{
    text-align: center;
}
.plan-text h2{
    font-size: 35px;
}
.plan-text p{
    font-size: 20px;
}
.planos{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    gap: 30px;
}

.planos ul{
    flex: 1 1 1;
}
.planos li{
    height: 80px;
    width: 320px;
    background-color: #aaa;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}

.planos .plan-preços{
    border-radius: 100%;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #2cc76a;
    margin: 0 auto -50px;
    position: relative;
}

.planos .btn-plan{
    background-color: #2cc76a;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.planos .recomedado{
    background-color: #ff2a00;
}

.planos .plan{
   padding: 40px 0 80px;
    background-color: #232a31;
    font-size: 30px;
    color: #fff;
    
}

.container-pesquisa {
    padding: 6rem 0;
    background-color: #232a31;
}
.pesquisa{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.pesquisa h2{
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
}
.pesquisa p{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.pesquisa input[type="text"]{
    padding: 15px;
    width: 700px;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}
.pesquisa input[type="submit"]{
    /* display: block; */
    padding: 20px 60px;
    font-size: 25px;
    /* margin: 0 auto; */
    background-color: #2cc76a;
    color: #fff;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    transition: 1s;
}
.pesquisa input[type="submit"]:hover{
    opacity: 1;
}
.container-pergunta{
    padding: 4rem 2rem;
}
.mensagem {
    text-align: center;
}
.mensagem h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.mensagem p{
    font-size: 20px;
    margin-bottom: 20px;
}

.container-pergunta{
padding: 2rem 0 0;
}
.input-mensagem {
 padding: 2rem 0;  
 width: 100%;
 display: flex;
 flex-direction: column; 
 align-items: center;
}
.input-box{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.input-mensagem .input-box input{
    padding: 10px;
    height: 60px;
    width: 300px;
    font-size: 20px;
    border-radius: 10px;
}
.input-mensagem textarea{
    height: 300px;
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.input-mensagem  input{
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #2cc76a;
    color: #fff;
    font-size: 20px;
    opacity: 0.8;
    transition: 1s;
}

.input-mensagem input:hover{
    opacity: 1;
}
footer{
    text-align: center;
    font-size: 15px;
    padding: 0 2rem 2rem;
}